<!-- Html para el componente que muestra la información de los componetes -->
<div class="Features-section paddingTB601 ">
    <div class="container">

<!-- Muestra las 3 primeras target de información la informacion se carga directamente del api -->
        <div class="row ">
            <div class="col-sm-12 col-md-4">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-headphones"></span>
                    <h4>{{names[0]}}</h4>
                    <p>{{address[0]}}</p>
                    <p>{{phones[0]}}</p>
                    <p>{{days[0]}}</p>
                    <p>{{schedules[0]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[0]}}</button>

                </div>
            </div>
            <!-- End Col -->
            <div class="col-sm-12 col-md-4">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-road"></span>
                    <h4>{{names[1]}}</h4>
                    <p>{{address[1]}}</p>
                    <p>{{phones[1]}}</p>
                    <p>{{days[1]}}</p>
                    <p>{{schedules[1]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[1]}}</button>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-12 col-md-4">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-camera"></span>
                    <h4>{{names[2]}}</h4>
                    <p>{{address[2]}}</p>
                    <p>{{phones[2]}}</p>
                    <p>{{days[2]}}</p>
                    <p>{{schedules[2]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[2]}}</button>
                </div>
            </div>
            <!-- End Col -->


        </div>
    </div>
</div>
<!-- Muestra las 4 target de información la informacion se carga directamente del api -->
<div class="Features-section paddingTB60 ">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-plane"></span>
                    <h4>{{names[3]}}</h4>
                    <p>{{address[3]}}</p>
                    <p>{{phones[3]}}</p>
                    <p>{{days[3]}}</p>
                    <p>{{schedules[3]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[3]}}</button>

                </div>
            </div>
            <!-- End Col -->
            <div class="col-sm-4 col-md-3">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-tree-conifer"></span>
                    <h4>{{names[4]}}</h4>
                    <p>{{address[4]}}</p>
                    <p>{{phones[4]}}</p>
                    <p>{{days[4]}}</p>
                    <p>{{schedules[4]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[4]}}</button>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-4 col-md-3">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-send"></span>
                    <h4>{{names[5]}}</h4>
                    <p>{{address[5]}}</p>
                    <p>{{phones[5]}}</p>
                    <p>{{days[5]}}</p>
                    <p>{{schedules[5]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[5]}}</button>
                </div>
            </div>
            <!-- End Col -->
            <div class="col-sm-4 col-md-3">
                <div class="col-md-12 feature-box">
                    <span class="glyphicon glyphicon-cutlery"></span>
                    <h4>{{names[6]}}</h4>
                    <p>{{address[6]}}</p>
                    <p>{{phones[6]}}</p>
                    <p>{{days[6]}}</p>
                    <p>{{schedules[6]}}</p>
                    <button type="button" class="btn btn-primary site-btn">Ir a {{names[6]}}</button>
                </div>
            </div>
            <!-- End Col -->


        </div>
    </div>
</div>