<!-- Body de la pagina principal -->
<br>
<!-- Primer componente es llamado desde el componente conoceropinion  -->
<div class="container">
<div class="columna">

  <div class="shadow p-1 mb-6 bg-white justify-content-center roundedCorner">
    <div class="card border-0">
    <div class="card-body">
<div class="row text-center d-flex justify-content-center pt-5 mb-3">
    <app-mapbox></app-mapbox>
</div>
<br>
</div>
</div>
</div>

</div>



<div class="columna2">
  <div class="shadow p-1 mb-6 bg-white justify-content-center roundedCorner">
    <div class="card border-0">
    <div class="card-body">
<div class="row text-center d-flex justify-content-center pt-5 mb-3">
    <div class="container">
    <app-graph></app-graph>
    </div>
</div>
<br>
</div>
</div>
</div>

<div class="shadow p-1 mb-6 bg-white justify-content-center roundedCorner">
  <div class="card border-0">
  <div class="card-body">
<div class="row text-center d-flex justify-content-center pt-5 mb-3">
  prueba2
</div>
<br>
</div>
</div>
</div>

</div>





</div>
<br>
