<!-- Componente para el footer de la pagina  -->
<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <h4><span class="glyphicon glyphicon-cog "></span> <b> Interesado en publicar?</b> Explora nuestros servicios!.</h4>
            </div>
        </div>
    </div>
</div>

<!-- Sección  para el manejo de la pagina -->
<div class="footer-section">
    <div class="footer">
        <div class="container">
            <div class="col-md-5 footer-one">
                <h5>Sobre nosotros </h5>
                <p>Somos una multinacional joven colombiana con capacidades de desarrollo de software a gran.</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="https://google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:fdbarretos@correo.udistrital.edu.co"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
            </div>
            <div class="col-md-4 footer-two">
                <h5>Información </h5>
                <ul>
                    <li><a href="#">Consejos de mantenimiento</a></li>
                    <li>
                        <a href="#"></a>Ubicaciones</li>
                    <li>
                        <a href="#"></a>Testimonios</li>
                    <li><a href="#">Carreras</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-three">
                <h5>Enlaces Útiles</h5>
                <ul>
                    <li><a href="#">Maintenance Tips</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center ">
                    <div class="copyright-text">
                        <p>CopyRight © 2020 Digital All Rights Reserved</p>
                    </div>
                </div>
                <!-- End Col -->

            </div>
        </div>
    </div>
</div>