<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- div para el header con sus respectivos submenus -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Desafío Analytic Lab</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacta con nosotros</a></li>
            </ul>
        </div>

    </div>

</nav>

<!-- div para el carouser del header -->
<div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://images.pexels.com/photos/416343/pexels-photo-416343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=940" style="width:100%">
            <div class="container ">
                <div class="carousel-caption">
                    <h1>Analysis de comerciantes</h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-primary site-btn" href="#">Learn More</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>